{{!-- JQUERY --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="d-flex justify-content-between bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 px-3">
                <div id="users-title">
                  <h6 class="text-white text-capitalize"> Customers</h6>
                </div>

                <div class="d-flex">
                  <div class="dropdown d-inline ms-5">
                      <button class="btn btn-info dropdown-toggle mb-0" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false" data-bs-target=".sortDropdown">
                        Sort
                      </button>
                      <ul class="dropdown-menu sortDropdown">
                        <li><a class="dropdown-item users-filter" type="sorter" name="fullname" href="?sort=username&page=1">Name</a></li>
                        <li><a class="dropdown-item users-filter" type="sorter" name="email" href="?sort=email&page=1">Email</a></li>
                        <li><a class="dropdown-item users-filter" type="sorter" name="createdAt" href="?sort=createdAt&page=1">Registration time</a></li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Information</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created date</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody id="users-list">
                    
                    {{#each customers}}
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="../assets/img/adminPicture/defaultAVT.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{this.fullname}}</h6>
                              <p class="text-xs text-secondary mb-0">Username: {{this.username}}</p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0">{{this.email}}</p>
                          <p class="text-xs text-secondary mb-0">{{this.tel}}</p>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="badge badge-sm bg-gradient-primary">{{this.status}}</span>
                        </td>
                        <td class="align-middle text-center">
                          <span class="text-secondary text-xs font-weight-bold">{{this.formattedDateTime}}</span>
                        </td>
                        <td class="align-middle">
                          <a href="/admin/tables/user/{{this.slug}}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                            View profile
                          </a>
                        </td>
                      </tr>
                    {{/each}} 
                    
                  </tbody>
                </table>
                
                <div class="d-flex flex-row justify-content-center gap-4">
                  <a href="?sort={{sorter}}&page={{prevpage}}">
                    <button class="btn btn-info d-inline mb-0 prev" >
                        Prev
                    </button>
                  </a>
                  <div id="user-paging">
                    <h4> {{page}} </h4>
                  </div>  
                  
                  <a href="?sort={{sorter}}&page={{prevpage}}">
                    <button class="btn btn-info d-inline mb-0 next">
                        Next
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>